@import url(./base/styles.css);

body {
    padding-top: 7rem;
}

.carousel-item img.carousel-img {
    height: 100%;
    object-fit: contain;
}

.carousel-caption h5 {
    font-weight: 700;
}

.carousel-caption p {
    font-weight: 300;
}

#planos {
    padding: 3rem 0;
    background-color: transparent;
    background-image: linear-gradient(100deg, var(--cor-primaria) 0%, var(--cor-secundaria) 90%);
}

.subtitulo {
    font-size: 1rem;
    color: var(--cor-branco);
}

.sombra {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);
}

.titulo-secao-card {
    font-size: 3rem;
    color: var(--cor-branco);
}

.beneficios {
    color: var(--cor-primaria);
    font-weight: 500
}

.botao-contratar {
    background-color: var(--cor-primaria);
    border-radius: 75px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    width: 70%;
}

.botao-contratar:hover {
    border-width: 2px;
    background-color: var(--cor-secundaria);
    border-color: var(--cor-primaria);
    color: var(--cor-primaria);
    cursor: pointer;
}

.bi-tv {
    font-size: 1.7rem;
}

.tv {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    body {
        padding-top: 5.9rem;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 5rem;
    }

    .botao-contratar {
        font-weight: 500;
        border-radius: 10px;
        font-size: 0.925rem;
    }
}

@media (max-width: 768px) {
    .botao-contratar {
        font-weight: 500;
        border-radius: 10px;
        font-size: 1.5rem;
    }
}