@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./header.css');
@import url('./footer.css');

:root { 
    --cor-primaria: #1D1364;
    --cor-secundaria: #FF9900;
    --cor-tercearia: #0B0E37;
    --cor-hover: #3F4E4F;
    --cor-branco: #ffffff;

    --fonte-primaria: "Inter", sans-serif;
}